/* light https://www.realtimecolors.com/?colors=070524-e0dffb-0f0f80-ee77af-d7191c&fonts=Poppins-Poppins */
/* dark https://www.realtimecolors.com/?colors=dddbfa-050420-7f7ff0-881149-e6282c&fonts=Poppins-Poppins */

/* Light */
:root {
    --text: #070524;
    --background: #e0dffb;
    --primary: #0f0f80;
    --secondary: #ee77af;
    --accent: #d7191c;

    --primary-text: #e9e1f9;
    --box-shadow-color: #909090;
    --box-shadow: -1px 2px 6px;
    --svg-dark-filter: none;
}

/* Dark */
[data-theme="dark"] {
    --text: #dcd9fa;
    --background: #050420;
    --primary: #7f7ff0;
    --secondary: #8a114a;
    --accent: #e52729;

    --primary-text: #050420;
    --box-shadow-color: #1d1d1d;
    --box-shadow: -1px 2px 6px;
    --svg-dark-filter: invert(1);
}

* {
    color: var(--text);
}

.spacer {
    height: 30px;
    border-left: 0.5px solid var(--text);
}

.button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary);
    color: var(--primary-text);
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--primary-text);
}

.button-accent {
    background-color: var(--accent);
    color: var(--primary-text);
}

.App {
    text-align: center;
    background-color: var(--background);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    box-shadow: var(--box-shadow) var(--box-shadow-color);
    height: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header-right-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
}

.header-right-btns > span {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.container-box {
    border-radius: 5px;
    box-shadow: var(--box-shadow) var(--box-shadow-color);
    padding: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.line:first-child {
    padding-top: 15px;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.export {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-container {
    display: flex;
    flex: 1 1;
    overflow: auto;
    padding: 0;
}

.icon-wrapper {
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.icon-wrapper:after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    left: 0;
    transition: 0.3s;
    background: var(--primary);

    opacity: 0;

    border-radius: 5px;
}

.icon-wrapper:active:after {
    opacity: 0.8;
    transition: 0s;
}

.icon-wrapper:hover {
    box-shadow: var(--box-shadow) var(--box-shadow-color);
}

.icon-wrapper.selected {
    background-color: var(--primary);
}

.img-filter {
    filter: var(--svg-dark-filter);
}

.img-shadow {
    filter: drop-shadow(1px 1px 1px black);
}

.icon-wrapper.selected > img {
    filter: invert(1);
}

.icon-wrapper > img {
    height: 25px;
    width: 25px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex-element {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.flex-element-primary {
    background-color: var(--primary);
}

.flex-element-secondary {
    background-color: var(--secondary);
}

.flex-element-accent {
    background-color: var(--accent);
}
